*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Fonts 
    font-family: 'Russo One', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Nunito', sans-serif;
*/

html, body{
    height: 100%;
}


body{
    background-color: black;
}

header{
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.295),rgba(0, 0, 0, 0.678)), url(../Images/bg.jpg);
    position: static;
    height: 100vh;
    background-size: cover;
    background-position: center;
}



ul{
     /*THis is where u hid the nav bar with display */
    float: left;
    margin-top: 20px;
    margin-left: 18px;
    list-style-type: none;

}



ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border: 1px hidden rgba(128, 128, 128, 0.952);
    border-radius: 5%;
    line-height: 9;
    font-variant: small-caps;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    


}

ul li a:hover{
    background-color: #af1a38a6;
    transition: 0.6s ease;
}

.active{
    background-color: #af1a38a6;
}


.menu{
    width: 13%;
    height: 100vh;
    background-color: rgba(8, 6, 46, 0.137);
    text-align: center;    
}

.hello{

    font-size: 2em;
    color: cornsilk;
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 10%;

    
}


h1{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    display: inline;
    margin-right: 30px;
}

h2{
    font-family: 'Krona One', sans-serif;
    color: #DC143C;

}
span{
    color: #DC143C;
}

h4{
    color: silver;
    display: inline-block;
    text-indent: 1em;
    border-right: 1px rgba(238, 217, 217, 0.315) solid;
    border-left: 1px rgba(238, 217, 217, 0.315) solid;
    line-height: 20px;
    padding-right: 30px;
    font-family: 'Nunito', sans-serif;
    font-variant: small-caps;
    font-size: 25px;
    transform: translate(100%, 100%);
    
}

table{

    position: absolute;
    border-width: 0;
	width: 70%;
	max-width: 100%;
    font-family: "lora-regular", sans-serif;
    color: white;
    height: 70vh;
    top: 20%;
    right: 5%

}

th, td {
	padding: 1rem 4rem;
	text-align: center;
    border-right: 2px outset #e7141477;
    border-left: 2px outset #e7141477;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;

}

th {
	color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    
}

td {
	line-height: 1;
}

th:nth-child(2){
    opacity: 0.6;
}

th:last-child{
    opacity: 0.6;
}

th:first-child{
    color: #ff0033;
}

tr:hover th{
    background-color: rgba(160, 18, 42, 0.342);
    border-right: 2px inset #000000c5;
    border-left: 2px inset #05050577;
    opacity: 1;
    color: floralwhite;
    transition: 0.5s ease-in-out;
}








